@import url(./fonts.css);
@import url(./normalize.css);

#content {
    color: #3b4252;
    padding: 4ch;
}

#header {
    background-color: #3b4252;
    box-shadow: 0 0 16px 0 #3b4252;
    color: #e5e9f0;
    font-weight: 700;
    padding: 2ch 4ch;
    text-align: center;
}

#name {
    color: #3b4252 !important;
}

#wrapper {
    background-color: #eceff4f7;
    box-shadow: 0 0 16px 0 #3b4252;
    font-family: Merriweather,serif;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    max-width: 72ch;
    overflow: hidden;
}

.centered {
    text-align: center;
}

.light-blue {
    color: #81a1c1 !important;
}

a {
    color: #5e81ac;
    text-decoration: none;
}

body {
    background: url(/img/bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

h1 {
    font-size: 2.8284em;
}

h1,h2,h3,h4 {
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    text-align: center;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4142em;
}

h4 {
    font-size: 1em;
}

hr {
    border-bottom: 0 !important;
}

hr,td,th,.bordered {
    border: 1px solid #3b4252;
}

img {
    max-width: 100%;
}

ol,ul {
    list-style-position: inside;
    padding-left: 0;
}

table {
    border-collapse: collapse;
}

td,th {
    padding: .25em;
}

textarea {
    resize: none;
}
